[run]
branch = true
concurrency = thread
omit = tests/*, src/cndb/seed.py
source = cndb

[report]
fail_under = 95
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    pragma: no cover
    raise NotImplementedError
show_missing = true
